/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.upsidedown {
  transform: rotate(180deg);
}

.antic_didone_regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}

.antic_didone_light {
  font-family: "Antic Didone", serif;
  font-weight: 100;
  font-style: normal;
}

.antic_didone_bold {
  font-family: "Antic Didone", serif;
  font-weight: 1000;
  font-style: normal;
}

.corinthia_regular {
  font-family: "Corinthia", serif;
  font-weight: 400;
  font-style: normal;
}

.corinthia_bold {
  font-family: "Corinthia", serif;
  font-weight: 700;
  font-style: normal;
}

.photo_card {
  width: 100%;
  padding: 10px 10px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.separator {
  border-top: 3px solid #E8AA78;
  width: 30%;
  margin: 1rem;
}

.bodavi_card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #FDF5F0;
  width: 100%;
  padding: 24px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.button_dark {
  font-family: "Antic Didone", Sans-serif;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 12px 12px;
  color: #FFF;
  background-color: #714A25;
  Letter-spacing: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 12px auto;
}

.button_regular {
  font-family: "Antic Didone", Sans-serif;
  border-radius: 6px;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 12px 12px;
  color: #FFF;
  background-color: #BE7D3F;
  Letter-spacing: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0 auto;
}

.button_light {
  font-family: "Antic Didone", Sans-serif;
  border-radius: 6px;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 12px 12px;
  color: #BE7D3F;
  background-color: #FFF;
  border: solid #BE7D3F 1px;
  Letter-spacing: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0 auto;
}

/* Header */
header {
  text-align: center;
  background: url("../shared/1.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-top: 36vh;
}

header h2 {
  font-family: "Antic Didone", Sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  margin: 10px 0;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
}

header h1 {
  font-family: "Antic Didone", cursive;
  font-size: 4rem;
  font-weight: 100;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
}

/* Introduction */
.introduction {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0 60px 0;
}

.introduction_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction_title_container h3 {
  color: #BE7D3F;
  font-size: 50px;
  font-weight: 100;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}

.introduction_title_container h2 {
  font-size: 80px;
  margin: 0;
  text-align: center;
}

.introduction_content p {
  font-size: 20px;
  margin: 40px 0 40px 0;
  text-align: center;
}

/* About */
.about_section {
  margin-bottom: 96px;
  display: flex;
  padding: 24px 9vw;
}

.ampersand_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 24px;
}

.ampersand {
  color: #FED2C8;
  font-size: 5rem;
}

.about_card_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 48px 1fr;
}

.about_photo_card_container {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
}

.about_photo_card {
  width: 81%;
  z-index: 1;
  display: flex;
  align-items: end;
}

.about_card_content {
  grid-column: 1;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: start;
}

.about_card_content h3 {
  text-align: center;
  font-size: 3rem;
  color: #BE7D3F;
  margin-bottom: 24px;
}

.about_card_content p {
  text-align: center;
  line-height: 2;
}

.about_card {
  padding: 72px 24px 24px 24px;
}

/* Countdown */
.countdown_section {
  text-align: center;
  background: url("../shared/3.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
  display: grid;
  grid-template: 1fr / 1fr;
}


.countdown_container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / 1;
  grid-row: 2 / 3;
}

.countdown_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}

.countdown-subtitle {
  font-family: "Corinthia", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #fafafa;
}

.countdown {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
}
.countdown-item {
  width: 110px;
  height: 110px;
}

.countdown-digit {
  font-family: "Antic Didone", sans-serif;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
  font-size: 45px;
  font-weight: 600;
}

.countdown-item-label {
  font-family: "Antic Didone", Sans-serif;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 5px;
}

section .svg-2 {
  width: 30vw;
  fill: #fafafa;
  height: 120px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
}

/* Itinerary */
.itinerary_section {
  display: grid;
  grid-template-columns: 18vw 1fr 80px 1fr 18vw;
  grid-template-rows: 1fr;
  padding: 96px 0;
}

.itinerary_card_container {
  grid-column: 3 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.itinerary_photo_card {
  grid-column: 2 / 4;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.itinerary_card_content h2 {
  color: #714A25;
  font-size: 4rem;
}

.itinerary_card_content h3 {
  font-size: 1.5rem;
}

.itinerary_card_content p {
  margin-bottom: 24px;
}

/* Dress Code */
.dress_code_section {
  background-color: #E8AA78;
  padding: 48px 0;
}

.dress_code_subtitle_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.dress_code_subtitle_container > .separator {
  border-color: #F9F9F9;
}

.dress_code_content {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.dress_code_content {
  color: #FFFF;
  width: 100%;
  margin-bottom: 48px;
}

.dress_code_content h2 {
  font-size: 4rem;
  margin-top: 24px;
  text-align: center;
}

.dress_code_content h3 {
  font-size: 2rem;
  text-align: center;
}

.dress_code_content p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 60%;
  line-height: 1.5;
  margin-bottom: 24px;
}

.dress_code_content span {
  font-size: 1.5rem;
  text-align: center;
  max-width: 60%;
  line-height: 2;
  margin-bottom: 24px;
}

/* Location */
.location_section {
  padding-top: 48px;
}

.location_container {
  display: grid;
  grid-template-columns: 12vw 1fr 120px 1fr 12vw;
  grid-template-rows: 1fr 120px 0.9fr;
  margin-top: 48px;
}

.location_photo_card {
  display: flex;
  align-items: end;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.location_card_container {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
  display: flex;
  align-items: start;
}

.flower_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.location_titles h3 {
  font-size: 2rem;
  text-align: center;
  color: #BE7D3F;
  margin-bottom: 24px;
}

.location_titles h2 {
  text-align: center;
  font-size: 3rem;
  color: #714A25;
  margin-bottom: 24px;
}

.location_subtitle_container {
  display: flex;
  justify-content: center;
}

.location_card_content h2 {
  color: #714A25;
  font-size: 4rem;
  margin-bottom: 12px;
  line-height: 1;
}

.location_card_content h3 {
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.location_card_content p {
  margin-bottom: 24px;
}

/* Photo Gallery */
.photo_gallery_section {
  padding: 24px 0vw;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo_gallery_section h2 {
  text-align: center;
  color: #BE7D3F;
  font-size: 3rem;
}

.photo_gallery_section h3 {
  text-align: center;
  color: #BE7D3F;
  font-size: 1.5rem;
}

.photo_gallery_section p {
  text-align: center;
  font-size: 1.2rem;
}

.photo_gallery_subtitle_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.swiper {
  width: 90%;
  height: 72vh;
  margin-bottom: 24px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background: url("../shared/1.jpeg") no-repeat center center/cover;
}

.swiper-slide:nth-child(2n) {
  background: url("../shared/2.jpeg") no-repeat center center/cover;
}

.swiper-slide:nth-child(3n) {
  background: url("../shared/3.jpeg") no-repeat center center/cover;
}

.swiper-slide:nth-child(4n) {
  background: url("../shared/4.jpeg") no-repeat center center/cover;
}

.swiper-slide:nth-child(5n) {
  background: url("../shared/5.jpeg") no-repeat center center/cover;
}

.swiper-slide:nth-child(6n) {
  background: url("../shared/7.jpeg") no-repeat center center/cover;
}

.swiper-slide:nth-child(7n) {
  background: url("../shared/8.jpeg") no-repeat center center/cover;
}

/* Gift Table */
.gift_table_section {
  background: url("../shared/5.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
  overflow: hidden;
  display: grid;
  grid-template: 1fr / 1fr;
}

.gift_table_content {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / 1;
  grid-row: 2 / 3;
}

.gift_table_content {
  color: #FFFF;
  width: 100%;
  margin-bottom: 48px;
}

.gift_table_content h2 {
  font-size: 4rem;
  margin-top: 24px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
}

.gift_table_content h3 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
}

.gift_table_content p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 60%;
  line-height: 2;
  margin-bottom: 24px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
}

.gift_table_subtitle_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.gift_table_buttons_container {
  width: 72%;
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  border-radius: 6px;
  border: solid #BE7D3F 0.5px
}

.gift_table_button_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift_button_icon_label {
  color: #BE7D3F;
  font-size: 1.2rem;
  padding: 24px 0;
  text-shadow: none;
}

/* RSVP */
.rsvp_section {
  background-color: #F9F9F9;
  padding: 5vh 0;
}

.rsvp_photo_card {
  display: grid;
  grid-template-columns: 1fr 30vw 1fr;
  grid-template-rows: 12vh 12px 1fr 48px 6vh;
}

.flower_2_container {
  display: flex;
  align-items: end;
  grid-column: 2;
  grid-row: 1 / 3;
}

.rsvp_photo_card_container {
  grid-column: 2;
  grid-row: 2 / 5;
}

.rsvp_label_container {
  grid-column: 2;
  grid-row: 4 / 6;
  display: flex;
  justify-content: center;
}

.rsvp_label {
  background-color: #FFF;
  padding: 12px;
  font-size: 2rem;
  text-align: center;
}

.rsvp_subtitle_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  padding: 24px 9vw;
}

.rsvp_subtitle_container h3 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2rem;
}

.rsvp_subtitle_container p {
  text-align: center;
  padding: 24px 12vw;
  line-height: 2;
}

.icon_container {
  width: 10%;
  background-color: #714A25;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.whatsapp_confirmation_card {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.whatsapp_confirmation_card_content {
  width: 40%;
  background-color: #FFF;
  padding: 24px;
}

.whatsapp_confirmation_card_content h2 {
  font-size: 4rem;
  color: #714A25;
}

.whatsapp_confirmation_card_content h3 {
  font-size: 2rem;
}

.whatsapp_label_container {
  display: flex;
}

.whatsapp_confirmation_card_buttons_container {
  padding: 24px 0;
  display: flex;
}

@media (max-width: 767px) {
/* Header */
  header {
    background: url("../shared/1.jpeg") no-repeat bottom center/cover;
    background-attachment: initial;
  }

  /* About */
  .about_section {
    display: flex;
    flex-direction: column;
  }

  .about_card_2_container {
    grid-column: 2;
    grid-row: 3;
  }

  .about_card_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 48px 1fr;
  }

/* Countdown */
  .countdown_section {
    background: url("../shared/3.jpeg") no-repeat top center/cover;
    background-attachment: initial;
  }

/* Itinerary */
  .itinerary_section{
    grid-template-columns: 9vw 1fr 9vw;
    grid-template-rows:  1fr 80px 0.8fr;
    padding: 96px 0 0 0 0
  }

  .itinerary_photo_card {
    grid-column: 2;
    grid-row: 1 / 3;
    justify-content: end;
  }

  .itinerary_card_container {
    padding: 0 6%;
    grid-column: 2;
    grid-row: 2 / 4;
    justify-content: start;
    align-items: start;
  }

  .hide_on_mobile {
    display: none;
  }

  /* Location */
  .location_container {
    grid-template-columns: 9vw 1fr 9vw;
    grid-template-rows:  1fr 80px 0.8fr;
    height: 100vh;
    margin-top: 0;
  }

  .location_photo_card {
    display: flex;
    align-items: end;
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .location_card_container {
    padding: 0 6%;
    grid-column: 2;
    grid-row: 2 / 4;
    display: flex;
    align-items: start;
  }

  /* Gift Table */
  .gift_table_section {
    background: url("../shared/5.jpeg") no-repeat bottom center/cover;
    background-attachment: initial;
  }

  .gift_table_buttons_container {
    flex-direction: column;
  }

  .gift_table_button_item {
    padding: 24px 0;
  }

  /* RSVP */
  .rsvp_photo_card {
    display: grid;
    grid-template-columns: 9vw 1fr 9vw;
  }

  .whatsapp_confirmation_card_buttons_container {
    width: 60%;
    flex-direction: column;
    margin: auto;
  }

  .whatsapp_confirmation_card {
    flex-direction: column;
    align-items: center;
  }

  .icon_container {
    width: 80%;
  }

  .whatsapp_confirmation_card_content {
    width: 80%;
  }
}