/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upsidedown {
  transform: rotate(180deg);
}

.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}

.corinthia-regular {
  font-family: "Corinthia", serif;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", serif;
  font-weight: 700;
  font-style: normal;
}

/* Header */
header {
  text-align: center;
  background: url("../shared/1.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-top: 36vh;
}

header h2 {
  font-family: "Antic Didone", Sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  margin: 10px 0;
}

header h1 {
  font-family: "Antic Didone", cursive;
  font-size: 50px;
  font-weight: 100;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
  color: white;
}

/* Introduction */

.introduction {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0 60px 0;
}

.introduction > h3, h2, p {
  text-align: center;
}

.introduction_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction_title_container h3 {
  color: #BE7D3F;
  font-size: 50px;
  font-weight: 100;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}

.introduction_title_container h2 {
  font-size: 80px;
  margin: 0;
}

.introduction_content p {
  font-size: 20px;
  margin: 40px 0 40px 0;
}

/* Countdown */
.countdown-section {
  text-align: center;
  background: url("../shared/3.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
}


.countdown-content {
  max-width: 80%;
  min-height: 30vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.countdown-subtitle {
  font-family: "Corinthia", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #fafafa;
}

.countdown {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
}
.countdown-item {
  width: 110px;
  height: 110px;
}

.countdown-digit {
  font-family: "Antic Didone", sans-serif;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
  font-size: 45px;
  font-weight: 600;
}

.countdown-item-label {
  font-family: "Antic Didone", Sans-serif;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.83);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 5px;
}

section .svg-2 {
  width: 30vw;
  height: auto;
  fill: #fafafa;
  height: 120px;
  margin: 40px 40px 40px 40px;
}

.confirm {
  background-color: #f9f9f9;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whats {
  width: 80%;
  height: 60%;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.icon {
  width: 20%;
  height: 100%;
  background-color: #714a25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 80%;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.buttons_container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.buttons_container a {
    text-decoration: none;
}

button {
  background-color: #714a25;
  text-decoration: none;
  width: 10rem;
  height: 7vh;
  color: white;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-family: "Antic Didone", sans-serif;
  font-weight: 600;
  margin-top: 40px;
}

.w-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.w-container p {
    font-size: 25px;
    font-family: "Antic Didone", sans-serif;
    font-weight: 600;
}
.line {
    border: 1px solid #E8AA78;
    width: 70%;
    margin-left: 2rem;
}
.c_text {
    font-family: "Corinthia", sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #714A25;
}

@media (max-width: 1000px) {
  .buttons_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .confirm {
    height: 60vh;
  }

}