.laurel_1 {
    width: 35vw;
    height: auto;
    fill: #fafafa;
  }

  .laurel_2 {
    fill: #BE7D3F;
    width: 15rem;
  }

  .laurel_3 {
    fill: #BE7D3F;
    width: 12vw;
    margin-left: 80px
  }

  .wave {
    fill: #FFF;
  }

  .chevron {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    fill: white;
  }

  .flower_1 {
    fill: #BE7D3F;
    width: 12vw;
  }

  .flower_2 {
    fill: #714A25;
  }

  .gift {
    fill: #FFFF;
    width: 5vw;
    height: 10vh;
  }

  .whatsapp_icon {
    font-size: 300% !important;
    color:white
  }

  .gift_button_icon {
    width: 48px;
    fill: #BE7D3F;
  }