.laurel_1 {
    width: 35vw;
    height: auto;
    fill: #fafafa;
  }

  .laurel_2 {
    fill: #FED2C8;
    width: 15rem;
  }

  .laurel_3 {
    fill: #BE7D3F;
    width: 12vw;
    margin-left: 80px
  }

  .wave {
    fill: #FFF;
  }

  .chevron {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    fill: white;
  }